{% extends "admin_main.html" %}

{% block admin_body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Location</th>
            <th>Room Number</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for facility in facility_list %}
            <tr>
            <td>{{ facility.location }}</td>
                <td>{{ facility.room_number }}</td>
            <td>{{ facility.type }}</td>
            <td><a href="./?do=update_facility&id={{ facility.id }}" class="btn btn-default btn-xs" role="button">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}