{% extends "base.html" %}

{% block main_body %}

    {% for booking in booking_list %}
        {% if not booking.is_cancelled and not booking.isdeclined %}
        <div class="modal fade" id="cancelModel{{ booking.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Cancellation</h4>
                    </div>
                    <div class="modal-body">
                        <div>Sure to cancel booking for {{ booking.facility }} on {{ booking.date }}?</div>
                        <div>This cannot be undone.</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="./?cancel={{ booking.id }}" class="btn btn-danger" role="button"
                                {% if booking.is_cancelled or booking.is_declined %} disabled="disabled" {% endif %}>Confirm</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div class="container" role="main">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Facility</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in booking_list %}
                <tr>
                    <td>{{ booking.facility }}</td>
                    <td>{{ booking.date }}</td>
                    <td>
                        {% if booking.is_processed %}
                            {% if booking.is_approved %}
                                <span class="label label-success">Approved</span>
                            {% else %}
                                <span class="label label-danger">Declined</span>
                            {% endif %}
                        {% else %}
                            {% if booking.is_cancelled %}
                                <span class="label label-default">Cancelled</span>
                            {% else %}
                                <span class="label label-primary">Processing</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="/view_booking/?id={{ booking.id }}" class="btn btn-default btn-xs" role="button">Details</a>
                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                data-target="#cancelModel{{ booking.id }}"
                                {% if booking.is_cancelled or booking.is_declined %} disabled="disabled" {% endif %}>
                            Cancel
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
