{% extends "base.html" %}

{% block main_body %}

    {% if not is_admin and not booking.is_cancelled and not booking.isdeclined %}
        <div class="modal fade" id="cancelModel" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Cancellation</h4>
                    </div>
                    <div class="modal-body">
                        <div>Sure to cancel booking for {{ booking.facility }} on {{ booking.date }}?</div>
                        <div>This cannot be undone.</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="/manage/?cancel={{ booking.id }}" class="btn btn-danger" role="button"
                                {% if booking.is_cancelled or booking.is_declined %}
                           disabled="disabled" {% endif %}>Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container" role="main">
        <form action="?id={{ booking.id }}" method="post" class="form-horizontal" role="form">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Booking No.</th>
                    <th>{{ booking.id }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Facility</td>
                    <td>
                        {{ booking.facility_str }}
                        <a href="/facilities/details/?id={{ booking.facility_id }}" class="btn btn-default btn-xs"
                               role="button">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ booking.date }}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{ booking.time.start }} to {{ booking.time.end }}</td>
                </tr>
                {% if is_admin %}
                    <tr>
                        <td>User</td>
                        <td>{{ booking.booking_user.name }} [{{ booking.booking_user.email }}]
                            ({{ booking.booking_user.faculty }})
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Placed Time</td>
                    <td>{{ booking.place_time }}</td>
                </tr>
                <tr>
                    <td>Fee</td>
                    <td>{{ booking.price }}</td>
                </tr>
                <tr>
                    <td>Purpose</td>
                    <td>{% if is_admin %}{{ booking.purpose }}{% else %}
                        <textarea class="form-control" rows="2" name="purpose"
                                {% if booking.is_processed or booking.is_cancelled %} disabled="disabled" {% endif %}
                                >{{ booking.purpose }}</textarea>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td>{% if is_admin %}{{ booking.comment }}{% else %}
                        <textarea class="form-control" rows="2" name="comment"
                                {% if booking.is_processed or booking.is_cancelled %} disabled="disabled" {% endif %}
                                >{{ booking.comment }}</textarea>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {% if booking.is_processed %}
                            {% if booking.is_approved %}
                                <span class="label label-success">Approved</span>
                            {% else %}
                                <span class="label label-danger">Declined</span>
                            {% endif %}
                        {% else %}
                            {% if booking.is_cancelled %}
                                <span class="label label-default">Cancelled</span>
                            {% else %}
                                <span class="label label-primary">Processing</span>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Action</td>
                    <td>
                        {% if is_admin %}
                            <a href="/admin/?do=approve_booking&id={{ booking.id }}" class="btn btn-success btn-xs"
                               role="button"
                               {% if booking.is_cancelled and not booking.is_processed %}disabled="disabled"{% endif %}>Approve</a>
                            <a href="/admin/?do=decline_booking&id={{ booking.id }}" class="btn btn-danger btn-xs"
                               role="button"
                               {% if booking.is_cancelled and not booking.is_processed %}disabled="disabled"{% endif %}>Decline</a>
                        {% else %}
                            <button type="submit" class="btn btn-default btn-xs"
                                    {% if booking.is_processed or booking.is_cancelled %}
                                    disabled="disabled" {% endif %}>Update
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                    data-target="#cancelModel"
                                    {% if booking.is_cancelled or booking.is_declined %}
                                    disabled="disabled" {% endif %}>
                                Cancel
                            </button>
                        {% endif %}
                    </td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>

{% endblock %}
