{% extends "base.html" %}

{% block additional_css %}
    <link href="https://refreshless.com/nouislider/source/distribute/jquery.nouislider.min.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="https://refreshless.com/nouislider/source/distribute/jquery.nouislider.all.min.js"></script>
{% endblock %}

{% block main_body %}

    <script>
        $(document).ready(function () {
            var priceFormat = wNumb({
                prefix: '$ ',
                decimals: 2,
                thousand: ','
            });
            var encoder = function (value) {
                var str = Math.floor(value / 2).toString();
                if (value % 2 == 0) {
                    str = str.concat(':00');
                } else {
                    str = str.concat(':30');
                }
                if (value < 20) {
                    str = '0'.concat(str);
                }
                return str;
            };
            var setPrice = function () {
                var val = $("#slider").val();
                $("#price").val(priceFormat.to((val[1] - val[0]) / 2 * {{ facility.price_per_hr }}));
            };
            $('#slider').noUiSlider({
                start: [{{ start_slot }}, {{ end_slot }}],
                margin: 1,
                step: 1,
                limit: {{ max_slot }},
                connect: true,
                range: {
                    'min': {{ start_slot }},
                    'max': {{ end_slot }}
                },
                behaviour: 'tap-drag',
                animate: true,
            });
            $("#slider").Link('lower').to($('#start_time'), null, {to: encoder});
            $("#slider").Link('upper').to($('#end_time'), null, {to: encoder});
            $("#slider").on({
                slide: setPrice,
            });
            setPrice();
        });
    </script>

    <div class="container" role="main">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New Booking
                    {% if facility.is_auto_approval %}
                        <span class="label label-success">Auto</span>
                    {% else %}
                        <span class="label label-danger">Manual</span>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <form action="./?id={{ id }}" method="post" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="date" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input id="date" type="text" name="date" class="form-control"
                                   readonly value="{{ date }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="facility" class="col-sm-2 control-label">Facility</label>
                        <div class="col-sm-8">
                            <input id="facility" type="text" name="facility" class="form-control"
                                   readonly value="{{ facility_str }}">
                        </div>
                        <div class="col-sm-2">
                            <a href="/facilities/details/?id={{ id }}" class="btn btn-default btn-block"
                               role="button">Details</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="purpose" class="col-sm-2 control-label">Purpose</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="2" id="purpose" name="purpose"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="2" id="comment" name="comment"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="timeslider" class="col-sm-2 control-label">Time</label>

                        <div class="col-sm-5">
                            <input id="start_time" type="text" name="start_time" class="form-control"
                                   readonly>
                        </div>
                        <div class="col-sm-5">
                            <input id="end_time" type="text" name="end_time" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <div id="slider"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">Fee</label>
                        <div class="col-sm-10">
                            <input id="price" type="text" name="price" class="form-control"
                                   readonly value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}





