{% extends "base.html" %}

{% block additional_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"
          rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    {% if facility_list %}
        <script type="text/javascript"
                src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['timeline']}]}"></script>
    {% endif %}
{% endblock %}

{% block main_body %}

    <script type="text/javascript">
        jQuery(function ($) {
            $('.panel-heading').on("click", function (e) {
                if ($(this).hasClass('panel-collapsed')) {
                    $(this).parents('.panel').find('.panel-body').slideDown();
                    $(this).removeClass('panel-collapsed');
                    $(this).find('span').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
                else {
                    $(this).parents('.panel').find('.panel-body').slideUp();
                    $(this).addClass('panel-collapsed');
                    $(this).find('span').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectdate input').datepicker({
                format: "dd-mm-yyyy",
                todayHighlight: true,
                autoclose: true
            });

            var location_type_list = {
                {% for location in location_list %}
                    '{{ location }}': [
                        {% for type in location_list[location] %}
                            '{{ type }}',
                        {% endfor %}
                    ],
                {% endfor %}
            };

            $('.selectpicker').selectpicker();

            var update_type_list = function () {
                var selected_location = $("#location").val();
                $("#type option:gt(0)").each(function () {
                    if ($.inArray($(this).val(), location_type_list[selected_location]) == -1) {
                        $(this).attr('disabled', 'disabled');
                    } else {
                        $(this).removeAttr('disabled');
                    }
                });
                $('.selectpicker').selectpicker('refresh');
            };

            update_type_list();
            $("#location").change(update_type_list);
        });
    </script>

    {% if facility_list %}
        <script type="text/javascript">
            google.setOnLoadCallback(drawChart);
            function drawChart() {

                var container = document.getElementById('timeline');

                var chart = new google.visualization.Timeline(container);

                var dataTable = new google.visualization.DataTable();

                dataTable.addColumn({ type: 'string', id: 'Facility' });
                dataTable.addColumn({ type: 'string', id: 'URL' });
                dataTable.addColumn({ type: 'string', id: 'Description' });
                dataTable.addColumn({ type: 'date', id: 'Start' });
                dataTable.addColumn({ type: 'date', id: 'End' });

                dataTable.addRows([
                    {% for facility in facility_list %}
                        {% for key, value in facility.availability.iteritems() %}
                            [ '{{ facility.room_number }} {{ facility.type }}', '/new_booking/?id={{ facility.id }}&date={{ selected_date }}&{{ key|safe }}', '\
                                {% if facility.is_auto_approval %}[Auto Approval]{% else %}[Manual Approval]{% endif %}\
                        Capacity: {{ facility.capacity }}' , {{ value }}],
                        {% endfor %}
                    {% endfor %}
                ]);

                var view = new google.visualization.DataView(dataTable);
                view.setColumns([0, 2, 3, 4]);

                var options = {
                    height: 42 * {{ facility_list|length }} -1 + 50,
                    timeline: {showBarLabels: false, singleColor: '#a2ded0'},
                };

                chart.draw(view, options);

                var selectHandler = function (e) {
                    window.location = dataTable.getValue(chart.getSelection()[0].row, 1);
                };

                google.visualization.events.addListener(chart, 'select', selectHandler);
            }
        </script>
    {% endif %}


    <div class="container" role="main">

        {% if is_querying and not facility_list %}
            <div class="alert alert-warning" role="alert">No available facility found. Please refine criteria.</div>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        <div class="panel panel-default">
            {% if facility_list %}
                <div class="panel-heading panel-collapsed">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-down"></span> Search Criteria</h3>
                </div>
            {% else %}
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-chevron-up"></span> Search Criteria</h3>
                </div>
            {% endif %}
            <div class="panel-body"{% if facility_list %} style="display: none" {% endif %}>

                <form name="filter" action="" method="get" class="form-horizontal" role="form">
                    <div class="form-group" id="selectdate">
                        <label for="date" class="col-sm-2 control-label">Date</label>

                        <div class="col-sm-10">
                            <input id="date" type="text" name="date" class="form-control" required="true"
                                   autocomplete="false" value="{{ selected_date }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="location" class="col-sm-2 control-label">Location</label>

                        <div class="col-sm-10">
                            <select id="location" name="location" class="selectpicker form-control">
                                {% for location in sorted_location_list %}
                                    <option value="{{ location }}"
                                            {% if location == selected_location %}selected{% endif %}>{{ location }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">Type</label>

                        <div class="col-sm-10">
                            <select id="type" name="type" class="selectpicker form-control">
                                <option value="">Any</option>
                                {% for type in type_list %}
                                    <option value="{{ type }}"
                                            {% if type == selected_type %}selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="capacity" class="col-sm-2 control-label">Minimum Capacity</label>

                        <div class="col-sm-10">
                            <input id="capacity" type="text" name="capacity" class="form-control"
                                   autocomplete="false" value="{{ selected_capacity }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Clear</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

        {% if is_querying %}
            <nav>
                <ul class="pager">
                    <li><a href="./?{{ query_string }}&offset=-3">&larr; 3</a></li>
                    <li><a href="./?{{ query_string }}&offset=-2">&larr; 2</a></li>
                    <li><a href="./?{{ query_string }}&offset=-1">&larr; 1</a></li>
                    <li class="disabled"><a href="#">{{ selected_date }} ({{ weekday }})</a></li>
                    <li><a href="./?{{ query_string }}&offset=1">1 &rarr;</a></li>
                    <li><a href="./?{{ query_string }}&offset=2">2 &rarr;</a></li>
                    <li><a href="./?{{ query_string }}&offset=3">3 &rarr;</a></li>
                </ul>
            </nav>
            {% if facility_list %}
                <div id="timeline"></div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
